/*-------------------------------------------
TOP gridレイアウト
-------------------------------------------*/
@use 'setting' as s;
/* ここから記述します。 */

.top_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin-bottom: 80px;
  grid-auto-flow: dense; // ←これが超重要！

  @include s.mq(tab) {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 8px;
  }
}

.grid_item {
  min-width: 0;

  &:nth-child(1) {
    grid-row: span 2;

    @include s.mq(tab) {
      grid-row: auto;
    }

    .grid_img {
      height: calc(100% - 50.85px);
      object-fit: cover;
      object-position: center;

      @include s.mq(tab) {
        height: auto;
      }
    }
  }

  .grid_img {
    width: 100%;
    height: auto;
    vertical-align: top;
    margin-bottom: 4px;
  }

  .grid_text {
    font-size: 16px;
    color: s.$colorWhite;

    @include s.mq(tab) {
      font-size: 14px;
    }
  }
}

// 「もっとみる」ボタン
.readmore{
	text-align: center;
	margin-bottom: 120px;

  @include s.mq(tab) {
    margin-bottom: 80px;
  } 

	&_link {
		@include s.buttonStyle;
    padding: 12px 0px;
    border: solid 1px s.$borderColor;
	}
}

// レフトサイド装飾
.grid_sideText {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: rotate(270deg) translate(-19%, 30%);
  transform-origin: left;
  display: flex;
  align-items: center;

  @include s.mq(tab) {
      display: none;
  }
}
.grid_sideText::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  margin-right: 24px;
}
