@charset "UTF-8";
/*-------------------------------------------
共通クラス
-------------------------------------------*/
body {
  font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a:hover {
  opacity: 0.85;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.body {
  background: #353535;
}

.main {
  position: relative;
}

/*-------------------------------------------
共通パーツの指定
-------------------------------------------*/
.u-wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 900px) {
  .u-wrapper {
    padding: 0px 15px;
  }
}

/* ここから記述します。 */
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.header_logo {
  width: 100%;
  max-width: 160px;
}

.header_menuItems {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  padding: 60px 25px;
  background-color: #fff;
  z-index: 100;
  opacity: 0;
  z-index: 20;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header_menuLogo {
  width: 100%;
  max-width: 160px;
  margin-bottom: 24px;
}

.header_menuList {
  margin-bottom: 20px;
}

.header_menuLink {
  color: #353535;
}

.header_menuBtn {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 20;
}

.header_menuBtn span {
  display: block;
  background-color: #fff;
  width: 30px;
  height: 2px;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header_menuBtn span:nth-child(1) {
  top: 2px;
}
.header_menuBtn span:nth-child(2) {
  top: 12px;
}
.header_menuBtn span:nth-child(3) {
  top: 22px;
}

.active.header_menuItems {
  left: 0;
  opacity: 1;
}
.active.header_menuBtn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}
.active.header_menuBtn span:nth-child(2) {
  opacity: 0;
}
.active.header_menuBtn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

/*ハンバーガーメニュークリック時、後ろの黒い背景*/
.header_mask {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.active.header_mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  background-color: #fff;
  color: #353535;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 900px) {
  #footer {
    height: auto;
    padding: 48px 0px;
  }
}

.footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .footer_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_logo {
  width: 100%;
  max-width: 160px;
  margin-bottom: 24px;
}

.footer_navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 28px;
}
@media screen and (max-width: 900px) {
  .footer_navItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 24px;
    margin-bottom: 40px;
  }
}

.footer_copyright {
  font-size: 14px;
}

/*-------------------------------------------
TOP gridレイアウト
-------------------------------------------*/
/* ここから記述します。 */
.top_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin-bottom: 80px;
  grid-auto-flow: dense;
}
@media screen and (max-width: 900px) {
  .top_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 8px;
  }
}

.grid_item {
  min-width: 0;
}
.grid_item:nth-child(1) {
  grid-row: span 2;
}
@media screen and (max-width: 900px) {
  .grid_item:nth-child(1) {
    grid-row: auto;
  }
}
.grid_item:nth-child(1) .grid_img {
  height: calc(100% - 50.85px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 900px) {
  .grid_item:nth-child(1) .grid_img {
    height: auto;
  }
}
.grid_item .grid_img {
  width: 100%;
  height: auto;
  vertical-align: top;
  margin-bottom: 4px;
}
.grid_item .grid_text {
  font-size: 16px;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .grid_item .grid_text {
    font-size: 14px;
  }
}

.readmore {
  text-align: center;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .readmore {
    margin-bottom: 80px;
  }
}
.readmore_link {
  width: 240px;
  height: 50px;
  color: #fff;
  display: inline-block;
  padding: 12px 0px;
  border: solid 1px #cacaca;
}

.grid_sideText {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  position: absolute;
  left: 14px;
  top: 50%;
  -webkit-transform: rotate(270deg) translate(-19%, 30%);
          transform: rotate(270deg) translate(-19%, 30%);
  -webkit-transform-origin: left;
          transform-origin: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .grid_sideText {
    display: none;
  }
}

.grid_sideText::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  margin-right: 24px;
}

/*-------------------------------------------
aboutページ / about.html
-------------------------------------------*/
/* ここから記述します。 */
s.sectionTitle {
  font-size: 32px;
  color: #fff;
  margin: 32px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  s.sectionTitle {
    font-size: 24px;
  }
}

.sectionTitle::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #fff;
  margin-right: 24px;
}
@media screen and (max-width: 900px) {
  .sectionTitle::before {
    width: 32px;
    margin-right: 16px;
  }
}

.about_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .about_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
}

.about_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about_img {
  max-width: 100%;
}

.about_textTitle {
  font-size: 28px;
  color: #fff;
  margin-bottom: 28px;
}
@media screen and (max-width: 900px) {
  .about_textTitle {
    font-size: 22px;
  }
}

.about_text {
  color: #fff;
  line-height: 1.9;
}
.about_text:first-of-type {
  margin-bottom: 32px;
}

/*-------------------------------------------
companyページ / company.html
-------------------------------------------*/
/* ここから記述します。 */
s.sectionTitle {
  font-size: 32px;
  color: #fff;
  margin: 32px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  s.sectionTitle {
    font-size: 24px;
  }
}

.sectionTitle::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #fff;
  margin-right: 24px;
}
@media screen and (max-width: 900px) {
  .sectionTitle::before {
    width: 32px;
    margin-right: 16px;
  }
}

.company_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .company_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
}

.company_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.company_map {
  width: 100%;
  position: relative;
  padding-top: 50%;
}
@media screen and (max-width: 900px) {
  .company_map {
    padding-top: 75%;
  }
}

.company_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.company_dl {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .company_dl {
    font-size: 14px;
  }
}

.company_dt {
  width: 30%;
  padding: 20px 10px;
  border-bottom: 1px solid #fff;
}
.company_dt:last-of-type {
  border-bottom: none;
}

.company_dd {
  width: 70%;
  padding: 20px 10px;
  border-bottom: 1px solid #fff;
}
.company_dd:last-of-type {
  border-bottom: none;
}

/*-------------------------------------------
itemページ / item*.html
-------------------------------------------*/
/* ここから記述します。 */
.item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  margin: 32px auto 120px;
}
@media screen and (max-width: 900px) {
  .item_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
}

.itemSectionTitle {
  font-size: 36px;
  color: #fff;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .itemSectionTitle {
    font-size: 24px;
    margin: 0px auto 16px;
  }
}

.item_price {
  color: #fff;
  font-size: 24px;
  margin-bottom: 32px;
}
@media screen and (max-width: 900px) {
  .item_price {
    font-size: 20px;
  }
}

.item_smallText {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1.5;
  margin-bottom: 4px;
}

.item_number {
  width: 160px;
  height: 40px;
  background-color: #fff;
  margin-bottom: 12px;
  padding: 6px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 50px;
  color: #fff;
  background-color: #BA0808;
  padding: 16px;
  margin-bottom: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*お買い物かごicon*/
.fa-solid {
  margin-left: 14px;
}

.fa-cart-shopping::before {
  content: "\f07a";
}

/*item description*/
.item_text {
  color: #fff;
  line-height: 1.9;
}
.item_text-marginBottom {
  margin-bottom: 16px;
}

/*-------------------------------------------
productsページ / products.html
-------------------------------------------*/
/* ここから記述します。 */
.sectionTitle {
  font-size: 32px;
  color: #fff;
  margin: 32px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .sectionTitle {
    font-size: 24px;
  }
}

.sectionTitle::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #fff;
  margin-right: 24px;
}
@media screen and (max-width: 900px) {
  .sectionTitle::before {
    width: 32px;
    margin-right: 16px;
  }
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .products_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 8px;
    margin-bottom: 80px;
  }
}

.products_gridImg {
  width: 100%;
  margin-bottom: 4px;
}

.products_gridText {
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 900px) {
  .products_gridText {
    font-size: 14px;
  }
}

.popular_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .popular_items {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px 8px;
    margin-bottom: 80px;
  }
}
